:root{
    --INDIAN-YELLOW:#D29945;
    --FOREST-GREEN:#76B683;
    --CHARCOAL-BLUE:#334750;
    --DEEP-TEAL:#1F524C;
    --ROSE :#C875B8; 
    --blanc:#ffffff; 
}

section {
    padding: 80px 0; /* Espacement interne (haut/bas) */
    margin-bottom: 100px; /* Ajoute un espace entre chaque section */
  }
  
#Qui-sommes-nous{
    background-color: var(--FOREST-GREEN);
    display: flex;
    color: var(--blanc);
}

#Actualites{
  background-color: var(--blanc);
}


#Actualites .btn-group{
    background-color: var(--INDIAN-YELLOW);
  }